<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>

    <style>
      body {
          text-align: center;
          font-family: Arial, sans-serif;
      }

      h1 {
          color: #333;
      }

      table {
          margin: 0 auto;
          border-collapse: collapse;
          width: 80%;
      }

      th, td {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: left;
      }

      th {
          background-color: #f2f2f2;
      }

      form {
          margin: 0;
          padding: 0;
          display: inline;
      }

      input[type="submit"] {
          background-color: #007bff;
          color: #fff;
          border: none;
          padding: 8px 16px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 14px;
          margin: 4px 2px;
          cursor: pointer;
          border-radius: 4px;
      }
  </style>
    
</head>
<body>
    <h1>Lista de produtos</h1>
    <table border="2px">
      <tbody>
        <% for (i=0; i< lista.rowCount; i++){ %>
          <tr>
            <td><%= lista.rows[i].codigo %></td>
            <td><%= lista.rows[i].descricao %></td>
            <td><%= lista.rows[i].preco %></td>
            <td><%= lista.rows[i].qtde %></td>
            <td>
              <form action="/carrinho" method="post">
                <input type="hidden" name="txtCodigo" value="<%= lista.rows[i].codigo%>">
                <input type="hidden" name="txtDescricao" value="<%= lista.rows[i].descricao%>">
                <input type="hidden" name="txtPreco" value="<%= lista.rows[i].preco%>">
                <input type="hidden" name="txtQuantidade" value="<%= lista.rows[i].qtde%>">
                <input type="submit" value="+"></input>
              </form>
            </td>
          </tr>
        <% }; %>
      </tbody>
    </table>
</body>
</html>